@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: bisque;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

input[type="image"] {
    position: fixed;
    width: 100px;
    height: 100px;
}

button {
    position: fixed;
    width: 100px;
    height: 100px;
}

#b1 {
    top: 100px;
    left: 100px;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

#b2 {
    top: 100px;
    left: 250px
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
